.container{
    margin: 80px auto;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}
.content form{
    display: flex;
    flex-direction: column;

}
.content form label{
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
}
.content form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}
.content button.bt{
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #21b4f8;
    color: #fff;
    cursor: pointer;
}
.content button.btn:hover{
    background: #2f81ce;
}