*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html, body, #root{
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
    width: 100%;
}
 td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 20px;
  }
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(76, 144, 175);
    color: white;
  }
 tr:nth-child(even) {
    background-color: #dddddd;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.pagination span {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #646464;
}
.pagination span:hover {
    color: blue;
}
.active {
    background-color: #0099FF;
    color: white;
    border: 1px solid #0099FF;
}
p{
    text-align: center;
    font-size: 20px;
    color: #006577;
}
